<div class="dashboard-socio">
    <h1>
      Hola {{ login.getUser().nombre + " " + login.getUser().apellido }}, bienvenido a
      <span class="elsaval">ElsaVal</span>
    </h1>
    <div class="arriba">
      <div class="datos">
        <img src="https://renzocosta.vtexassets.com/assets/vtex.file-manager-graphql/images/9ec95197-37e6-496d-87d2-6ae7489c1b4a___5e82c99697798696f5dd57014edfa65c.jpg" alt="" />
      </div>
      <div class="elemento-35">
        <h2>{{ getCurrentMonthAndYear() }}</h2>
        <div class="calendar-container">
          <table>
            <thead>
              <tr>
                <th>Dom</th>
                <th>Lun</th>
                <th>Mar</th>
                <th>Mié</th>
                <th>Jue</th>
                <th>Vie</th>
                <th>Sáb</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let week of calendar">
                <ng-container *ngFor="let day of week">
                  <td [ngClass]="{ 'current-day': isCurrentDay(day) }">
                    {{ day !== 0 ? day : "" }}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="grid-container">
      <div class="card">
        <div class="event-info">
          <h2 class="event-title">
            <i class="fas fa-caret-right"></i> ElsaVal
          </h2>
          <div class="line"></div>
  
          <p class="event-location">
            <strong>Ubicación:</strong> Lima
          </p>
          <p class="event-description">
            ¡Descubre la magia de las carteras crochet en ElsaVal! Sumérgete en un mundo de estilo y artesanía con nuestras exclusivas creaciones. Ya seas un entusiasta del crochet o estés buscando tu primera pieza única, ElsaVal tiene lo que necesitas.
            Cada cartera está tejida con amor y cuidado, ofreciéndote calidad y elegancia en cada detalle. Navega por nuestra colección y encuentra el complemento perfecto para tu estilo. Desde diseños clásicos hasta innovadoras combinaciones de colores, tenemos opciones para todos los gustos.
            Únete a la emoción de llevar una cartera única y artesanal. Ven y forma parte de la experiencia ElsaVal, donde la moda se encuentra con la artesanía en cada puntada. ¡No te pierdas esta aventura de estilo y elegancia en cada cartera que elijas!
          </p>
        </div>
      </div>
    </div>
  </div>