.accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-active-color: none;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-border-color: transparent;
}

h2.accordion-header {
    margin-bottom: 0;
}

.accordion:focus {
    outline: none;
}

.accordion-button{
    padding: revert;
    font-size: 20px;
}

.input-transp {
    border: transparent;
    background-color: transparent;
    padding: 5px;
}

.btn:disabled {
    background-color: #5a646e; /* Cambia este color al que desees */
}

html, body {
    height: 100%; /* Ocupa toda la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 91.7vh; /* Altura mínima de toda la pantalla */
  }
  
  .content {
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
  }
  
  app-footer {
    background-color: #00CED1; /* Color de fondo del footer */
    padding: 5px;
    text-align: center;
    color: white;
  }
  