<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div *ngIf="producto" class="my-5 row">
          <div class="col-lg-6">
            <img class="hover:grow hover:shadow-lg" [src]="producto.imagen" [alt]="producto.nombreProducto" style="width: 320px; height: 450px;">
          </div>
          <div class="col-lg-6">
            <div class="mb-0">
              <h1 class="pt-1 text-gray-900 fw-light mt-8">
                {{ producto.nombreProducto }}
              </h1>
            </div>
            <div class="mb-0">
              <h2 class="fs-4 fw-light"><strong>S/. {{ producto.precio }}</strong></h2>
            </div>
            <hr class="my-0 mb-3" style="opacity: 0.2;">
            <div class="row">
              <ng-container *ngIf="productoStock !== 0">
                <div class="col-4">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary btn-sm btn-dark rounded-circle" type="button"
                        (click)="minus()" [disabled]="quantity === 1"><i class="fa fa-minus"></i></button>
                    </div>
                    <input [(ngModel)]="quantity" type="text" class="text-center form-control input-transp"
                      [value]="quantity" readonly disabled>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-sm btn-dark rounded-circle" type="button"
                        (click)="plus()" [disabled]="quantity === this.productoStock"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>   
              </div>
              <div class="col-5">
                <p>Stock Disponible: {{ productoStock }} 
                  <ng-container *ngIf="productoStock === 1">
                    unidad
                  </ng-container>
                  <ng-container *ngIf="productoStock !== 1">
                    unidades
                  </ng-container>
                </p>
              </div>
              </ng-container>
            </div>
            <div class="container">
              <div class="row justify-content-center">
                <ng-container *ngIf="productoStock === 0">
                  <p class="mb-4 py-3 d-flex justify-content-center">Este producto no esta disponible</p>
                </ng-container>
                <ng-container *ngIf="productoStock !== 0">
                  <button routerLink="/carrito" class="btn btn-dark rounded-0 btn-block mb-4 py-3" (click)="addToCart(producto)">Agregar al
                    carrito
                  </button>
                </ng-container>
              </div>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="fw-light fs-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Descripción
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p class="fw-light fs-6">{{ producto.descripcion }}</p>
                  </div>
                </div>
              </div>
              <hr class="my-0 mb-1" style="opacity: 0.2;">
              <div class="accordion-item">
                <h2 class="accordion-header mb-0">
                  <button class="fw-light fs-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Detalles
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="fw-light fs-6 accordion-body">
                    <div style="display: block;">
                      <strong>SKU: </strong> {{ producto.sku }}
                    </div>
                    <div style="display: block;">
                      <strong>Tipo: </strong> {{ producto.categoria.nombre }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>