<mat-card style="padding: 15px;">
    <div class="container" style="max-width: 100%;">
        <h1>Lista de Almacenes</h1>
        <button routerLink="/admin/addalmacen" mat-raised-button style="background-color: #00CED1; color: white;">Nuevo Almacen</button>
    </div>
    <div class="filter-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <div class="search-bar-container">
        <input type="text" [(ngModel)]="searchTerm1" class="search-bar-input" placeholder="Buscar por dirección" />
        <i class="fas fa-search search-icon"></i>
    </div>
    </div>
    <table class="table-container">
        <tr>
            <th>N°</th>
            <th>Descripción</th>
            <th>Dirección</th>
            <th>Fecha de Creación</th>
            <th>Operaciones</th>
        </tr>
        <tr *ngFor="let i = index; let e of display()" mat-subheader>
            <td>{{ (currentPage1 - 1) * rowsPerPage1 + i + 1 }}</td>
            <td>{{ e.ruc }}</td>
            <td>{{ e.razonSocial }}</td>
            <td>{{ e.dateCreated | date:'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>
                <div style="padding-left: 5px; padding-right: 5px;" class="editar-icono" >
                    <i [routerLink]="'/admin/actualizaralmacen/'+e.proveedorId" class="fas fa-edit"></i>
                </div>
                <div style="padding-left: 5px; padding-right: 5px;" class="eliminar-icono" (click)="eliminarAlmacen(e.almacenId)">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <button (click)="prevPage1()" [disabled]="currentPage1 === 1">
            <i class="fa fa-chevron-left"></i> Anterior
        </button>
        <button (click)="nextPage1()" [disabled]="currentPage1 === totalPages1">
            Siguiente <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</mat-card>
