<mat-card style="padding: 15px;">
  <div class="container" style="max-width: 100%;">
    <h1>Detalles de pedido</h1>
  </div>
  <div class="filter-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </div>
  <table class="table-container">
    <tr>
      <th>N°</th>
      <th>Foto</th>
      <th>Producto</th>
      <th>SKU</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio Total</th>
    </tr>
    <tr *ngFor="let e of displayedOrders(); let i = index">
      <td>{{ (currentPage1 - 1) * rowsPerPage1 + i + 1 }}</td>
      <td><img [src]="e.product.imagen" alt="Imagen del producto" class="imagen-producto" style="width: 125px; height: 150px;"></td>
      <td>{{ e.product.nombreProducto }}</td>
      <td>{{ e.product.sku }}</td>
      <td>{{ e.quantity }}</td>
      <td>{{ e.unitPrice | currency:'S/. ':'symbol':'1.2-2' }}</td>
      <td>{{ e.totalPrice | currency:'S/. ':'symbol':'1.2-2' }}</td>
    </tr>
  </table>
  <div class="pagination">
    <button mat-button (click)="prevPage1()" [disabled]="currentPage1 === 1">
      <i class="fa fa-chevron-left"></i> Anterior
    </button>
    <button mat-button (click)="nextPage1()" [disabled]="currentPage1 === totalPages1">
      Siguiente <i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-button 
            (click)="downloadPdf()" 
            [disabled]="buttonDisabled">
      Descargar Comprobante de Pago
    </button>
  </div>
</mat-card>
