<mat-card style="padding: 15px;">
    <div class="link-container">
        <a (click)="volverAProductos()" class="link-text"> < Volver</a>
    </div>
    <div class="container">
        <h1>Actualizar Producto</h1>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form *ngIf="producto" (submit)="actualizarDatos()">
                <mat-form-field class="w50izq" appearance="fill">
                    <mat-label>Nombre del producto</mat-label>
                    <input
                        [(ngModel)] = "producto.nombreProducto"
                        type="text"
                        name="nombreProducto"
                        placeholder="Digite el nombre del producto"
                        matInput
                    >
                </mat-form-field>
                <mat-form-field class="w50der" appearance="fill">
                    <mat-label>SKU</mat-label>
                    <input
                        [(ngModel)] = "producto.sku"
                        type="text"
                        name="sku"
                        placeholder="Digite el SKU del producto"
                        matInput
                        
                    >
                </mat-form-field>
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input
                        [(ngModel)] = "producto.descripcion"
                        type="text"
                        name="producto"
                        placeholder="Digite la descripción del producto"
                        matInput
                        
                    >
                </mat-form-field>
                <mat-form-field class="w50izq" appearance="fill">
                    <mat-label>Precio</mat-label>
                    <input
                        [(ngModel)] = "producto.precio"
                        type="text"
                        name="precio"
                        placeholder="Digite el precio del producto"
                        matInput
                    >
                </mat-form-field>
                <mat-form-field class="w50izq" appearance="fill">
                    <mat-label>Stock</mat-label>
                    <input
                        [(ngModel)] = "producto.stock"
                        type="text"
                        name="stock"
                        placeholder="Digite el stock del producto"
                        matInput disabled
                    >
                </mat-form-field>
                <mat-form-field class="w50der" appearance="fill">
                    <mat-label>URL Imagen</mat-label>
                    <input
                        [(ngModel)] = "producto.imagen"
                        type="text"
                        name="imagen"
                        placeholder="Digite el url de la imagen"
                        matInput
                    >
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Seleccione la Categoria</mat-label>
                    <mat-select 
                        name="producto.categoria.nombre" 
                        [(ngModel)]="producto.categoria.categoriaId"
                    >
                        <mat-option *ngFor="let e of categorys" [value]="e.categoriaId">
                            {{e.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="row">
                    <div class="containeractualizar text-center">
                        <button mat-raised-button style="background-color: #00CED1; color: white;">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-card>