.circle {
    background-color: #ababab;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

html, body {
    height: 100%; /* Ocupa toda la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 91.7vh; /* Altura mínima de toda la pantalla */
  }
  
  .content {
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
  }
  
  app-footer {
    background-color: #00CED1; /* Color de fondo del footer */
    padding: 5px;
    text-align: center;
    color: white;
  }