<div class="sidebar-container" [ngClass]="{'collapsed': !isSidebarVisible, 'mobile': isMobileView}">
  <button *ngIf="isMobileView" class="toggle-button" (click)="toggleSidebar()">
    <mat-icon>{{ isSidebarVisible ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>

  <mat-card>
    <mat-action-list class="sidebar" *ngIf="isSidebarVisible || !isMobileView">
      <div class="sidebarTitle">Dashboard</div>
      <button routerLink="/admin" mat-list-item class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink="/admin/usuarios" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>person</mat-icon> Usuarios
      </button>
  
      <div style="padding-left: 10px; padding-top: 0.5px;" class="sidebarTitle">
        Gestión
      </div>
      <button mat-list-item routerLink="/admin/almacenes" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>warehouse</mat-icon> Almacenes
      </button>
      <button mat-list-item routerLink="/admin/catalogo" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>list</mat-icon> Catálogo
      </button>
      <button mat-list-item routerLink="/admin/categorias" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>category</mat-icon> Categorias
      </button>
      <button mat-list-item routerLink="/admin/clientes" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>people</mat-icon> Clientes
      </button>
      <button mat-list-item routerLink="/admin/inventario" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>swap_horiz</mat-icon> Movimientos
      </button>
      <button mat-list-item routerLink="/admin/pedidos" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>shopping_bag</mat-icon> Pedidos
      </button>      
      <button mat-list-item routerLink="/admin/productos" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>store</mat-icon> Productos
      </button>
      <button mat-list-item routerLink="/admin/proveedores" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>local_shipping</mat-icon> Proveedores
      </button>
      <button mat-list-item routerLink="/admin/servicios" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>miscellaneous_services</mat-icon> Servicios
      </button>

      
      <div style="padding-left: 10px; padding-top: 0.5px;" class="sidebarTitle">
        Documentación
      </div>
      <button mat-list-item routerLink="/admin/cotzaciones" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>request_quote</mat-icon> Cotizaciones
      </button>
      <button mat-list-item routerLink="/admin/guias" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>local_shipping</mat-icon> Guías de Remisión
      </button>
      <button mat-list-item routerLink="/admin/facturas" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>receipt</mat-icon> Facturas
      </button>
      <button mat-list-item routerLink="/admin/ordenes" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>shopping_cart</mat-icon> Órdenes de Compra
      </button>
      <button mat-list-item routerLink="/admin/notas" class="sidebarlistItem">
        <mat-icon style="margin-left: 20px;" class="sidebarIcon" mat-list-icon>note</mat-icon> Notas de Crédito
      </button>
    </mat-action-list>
  </mat-card>
</div>