<mat-card style="padding: 15px;">
  <div class="container" style="max-width: 100%;">
      <h1>Lista de Direcciones</h1>
      <button routerLink="/user/agregar-direccion" mat-raised-button style="background-color: #00CED1; color: white;">Agregar Dirección</button>
  </div>
  <div class="filter-container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </div>
  <table class="table-container">
      <tr>
          <th>N°</th>
          <th>Departamento</th>
          <th>Provincia</th>
          <th>Distrito</th>
          <th>Dirección</th>
          <th>Operaciones</th>
      </tr>
      <tr *ngFor="let i = index; let e of displayedOrders()" mat-subheader>
          <td>{{ (currentPage1 - 1) * rowsPerPage1 + i + 1 }}</td>
          <td>{{ e.department.name }}</td>
          <td>{{ e.province.name }}</td>
          <td>{{ e.district.name }}</td>
          <td>{{ e.name }}</td>
          <td>
              <div style="padding-left: 5px; padding-right: 5px;" class="eliminar-icono" (click)="eliminarProducto(e.addressId)">
                <i class="fas fa-trash-alt"></i>
            </div>
          </td>
      </tr>
  </table>
  <div class="pagination">
      <button (click)="prevPage1()" [disabled]="currentPage1 === 1">
          <i class="fa fa-chevron-left"></i> Anterior
      </button>
      <button (click)="nextPage1()" [disabled]="currentPage1 === totalPages1">
          Siguiente <i class="fa fa-chevron-right"></i>
      </button>
  </div>
</mat-card>
