<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="position-relative">
        <img src="./../../../assets/Carrusel1.jpg" class="d-block w-100 " alt="...">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h2>APC Emedicom</h2>
        <p>Somos una empresa privada, especializada en la distribución, comercialización e importación de equipamiento y productos médicos, diseñada para proveer y satisfacer las necesidades de nuestros clientes, dentro de las diferentes especialidades médicas, brindando a nuestros clientes un excelente servicio de venta y soporte técnico.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="./../../../assets/Carrusel2.jpg" class="d-block w-100" alt="...">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h2>Productos</h2>
        <p>Explora nuestro catálogo y cotiza con nosotros!.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="./../../../assets/Carrusel3.jpg" class="d-block w-100" alt="...">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h2>Servicio Técnico</h2>
        <p>Contrata nuestro servicio técnico para tus equipos y mobiliario médico.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>